main{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.card{
    background-color: blueviolet;
    border-radius: 90px 5px 90px 5px;
    width: 400px;
    padding:14px;
    margin:4px;
    display:flex;
    justify-content: center;
}
table{
    color:whitesmoke;
}
.form-button{
    margin-top:10px;
    background-color: purple;
    text-decoration: none;
    color: white;
    padding:10px 15px;
    text-align: center;
    border:none;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}