main{
    display:flex;
    align-items: center;
    flex-direction: column;
}
main p{
    font-size:18px;
}

.card{
    background-color: blueviolet;
    border-radius: 90px 5px 90px 5px;
    width: 460px;
    padding:20px;
    margin:4px;
    display:flex;
    justify-content: center;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);
}
table{
    color:whitesmoke;
}
table tr td{
    padding:8px;
    vertical-align: top;
}

input, textarea{
    height:20px;
    min-width: 200px;
    max-width:200px;
    padding:4px 8px;
    outline:none;
}
textarea{
    min-height:80px;
}
input:focus, textarea:focus{
    outline: 1px solid black;
}

.form-button{
    margin-top:10px;
    background-color: purple;
    text-decoration: none;
    color: white;
    padding:10px 15px;
    text-align: center;
    border:none;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
    transition: 0.2s ease-in-out;
}
.form-button:hover{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}