* { 
    margin:0;
    padding:0;
}

header{
    padding:8px;
    background-color: violet;
}
.header-text{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-text span{
    color:purple;
}
.header-logo{
    width:110px;
    margin:10px;
}

a{
    text-decoration: none;
    color:whitesmoke;
}

nav{
    background-color: rgba(128, 0, 128,50%);
    padding:15px 0;
    display:flex;
    justify-content: center;
    height:fit-content;
}
nav ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
}
nav > ul > li{
    margin-left:15px;
    margin-right:15px;
}
nav > ul > li > a{
    padding:4px 12px;
    border: 1px solid whitesmoke;
    transition: 0.3s ease-out;
}
nav > ul > li > a:hover{
    color:rgb(60,60,60);
    border: 1px solid rgb(60,60,60);
}
.dropdown-items{
    display:none;
    position:absolute;
    z-index: 1;
    background-color: violet;
    min-width:80px;
    padding: 3px 10px 3px 10px;
}
.dropdown-items a{
    display: block;
    padding: 4px;
    transition: 0.5s ease-in-out;
}
.dropdown-items a:hover{
    background-color: whitesmoke;
    color:violet;
}
.dropdown:hover .dropdown-items{
    display: block;
}

.button-active, .button-active:hover{
    color:purple;
    border:2px solid purple;
    transition:0;
    font-weight:bold;
}

.dropdown-items a.button-active{
    border:none;
}
.dropdown-items a.button-active:hover{
    color:purple;
}

main{
    min-height:70vh;
    padding:30px;
    display:flex;
    background-color: whitesmoke;
    background-image: url("../assets/images/work-desk.png");
    
    background-repeat: no-repeat;
    background-position: center bottom;
}
.myTutor{
    color:purple;
}


footer{
    position:sticky;
    background-color: blueviolet;
    color:whitesmoke;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
}

.footer-info{
    padding:12px 8px 8px 8px;
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto;
    
}
.joerio img{
    width:120px;
    border-radius:20px;
}
.socmed-card{
    display:inline-grid;
}
.socmed{
    display:inline-grid;
    align-items: center;
}
.socmed img{
    width:26px;
    margin-left:8px;
}

.copyright{
    padding:8px;
    background-color: rgb(40,40,40);
}