* { 
    margin:0;
    padding:0;
}

header{
    padding:8px;
    background-color: violet;
}
.header-text{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-text span{
    color:purple;
}
.header-logo{
    width:110px;
    margin:10px;
}


nav{
    background-color: rgba(128, 0, 128,50%);
    padding:8px;
    display:flex;
    justify-content: center;
}
nav ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
}
nav > ul > li{
    margin-left:15px;
    margin-right:15px;
    border: 1px solid whitesmoke;
    padding: 3px 10px 3px 10px;
}
.dropdown-items{
    display:none;
    position:absolute;
    z-index: 1;
    background-color: violet;
    padding:0;
    padding: 3px 10px 3px 10px;
}
.dropdown-items a{
    display: block;
}
.dropdown-items a:hover{
    background-color: whitesmoke;
    color:violet;
}
.dropdown:hover .dropdown-items{
    display: block;
}
a{
    text-decoration: none;
    color:whitesmoke;
}

main{
    height:70vh;
    padding:30px;
    display:flex;
    background-color: whitesmoke;
    background-image: url("../assets/images/work-desk.png");
    
    background-repeat: no-repeat;
    background-position: center bottom;
}
.myTutor{
    color:purple;
}


footer{
    position:sticky;
    background-color: rgba(0,0,0,0.9);
    color:whitesmoke;
    padding:8px;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.copyright{
    text-align: center;
}